@font-face {
  font-family: 'file-types';
  src: url("../fonts/file-types.eot");
  src: url("../fonts/file-types.eot?#iefix") format("embedded-opentype"), url("../fonts/file-types.ttf") format("truetype"), url("../fonts/file-types.woff") format("woff"), url("../fonts/file-types.svg#file-types") format("svg");
  font-weight: normal;
  font-style: normal;
}
.file-type, .views-field-body a[href$='.zip']:before,
.views-field-body a[href$='.rar']:before,
.views-field-body a[href$='.gz']:before,
.views-field-body a[href$='.7z']:before,
.views-field-body a[href$='.jar']:before,
.field-name-body a[href$='.zip']:before,
.field-name-body a[href$='.rar']:before,
.field-name-body a[href$='.gz']:before,
.field-name-body a[href$='.7z']:before,
.field-name-body a[href$='.jar']:before, .views-field-body a[href$='.txt']:before,
.views-field-body a[href$='.doc']:before,
.views-field-body a[href$='.docx']:before,
.views-field-body a[href$='.rtf']:before,
.views-field-body a[href$='.odt']:before,
.views-field-body a[href$='.pdf']:before,
.field-name-body a[href$='.txt']:before,
.field-name-body a[href$='.doc']:before,
.field-name-body a[href$='.docx']:before,
.field-name-body a[href$='.rtf']:before,
.field-name-body a[href$='.odt']:before,
.field-name-body a[href$='.pdf']:before, .views-field-body a[href$='.xls']:before,
.views-field-body a[href$='.xlsx']:before,
.views-field-body a[href$='.csv']:before,
.views-field-body a[href$='.ods']:before,
.field-name-body a[href$='.xls']:before,
.field-name-body a[href$='.xlsx']:before,
.field-name-body a[href$='.csv']:before,
.field-name-body a[href$='.ods']:before, .views-field-body a[href$='.ppt']:before,
.views-field-body a[href$='.pptx']:before,
.views-field-body a[href$='.key']:before,
.views-field-body a[href$='.odp']:before,
.field-name-body a[href$='.ppt']:before,
.field-name-body a[href$='.pptx']:before,
.field-name-body a[href$='.key']:before,
.field-name-body a[href$='.odp']:before, .views-field-body a[href$='.jpg']:before,
.views-field-body a[href$='.jpeg']:before,
.views-field-body a[href$='.png']:before,
.views-field-body a[href$='.gif']:before,
.views-field-body a[href$='.psd']:before,
.views-field-body a[href$='.svg']:before,
.views-field-body a[href$='.ai']:before,
.views-field-body a[href$='.eps']:before,
.views-field-body a[href$='.cdr']:before,
.field-name-body a[href$='.jpg']:before,
.field-name-body a[href$='.jpeg']:before,
.field-name-body a[href$='.png']:before,
.field-name-body a[href$='.gif']:before,
.field-name-body a[href$='.psd']:before,
.field-name-body a[href$='.svg']:before,
.field-name-body a[href$='.ai']:before,
.field-name-body a[href$='.eps']:before,
.field-name-body a[href$='.cdr']:before, .views-field-body a[href$='.avi']:before,
.views-field-body a[href$='.mpg']:before,
.views-field-body a[href$='.mpeg']:before,
.views-field-body a[href$='.mp4']:before,
.views-field-body a[href$='.mov']:before,
.views-field-body a[href$='.flv']:before,
.views-field-body a[href$='.mkv']:before,
.field-name-body a[href$='.avi']:before,
.field-name-body a[href$='.mpg']:before,
.field-name-body a[href$='.mpeg']:before,
.field-name-body a[href$='.mp4']:before,
.field-name-body a[href$='.mov']:before,
.field-name-body a[href$='.flv']:before,
.field-name-body a[href$='.mkv']:before, .views-field-body a[href$='.mp3']:before,
.views-field-body a[href$='.flac']:before,
.views-field-body a[href$='.ogg']:before,
.views-field-body a[href$='.wav']:before,
.views-field-body a[href$='.ape']:before,
.views-field-body a[href$='.m4a']:before,
.field-name-body a[href$='.mp3']:before,
.field-name-body a[href$='.flac']:before,
.field-name-body a[href$='.ogg']:before,
.field-name-body a[href$='.wav']:before,
.field-name-body a[href$='.ape']:before,
.field-name-body a[href$='.m4a']:before, .views-field-body a[href$='.php']:before,
.views-field-body a[href$='.module']:before,
.views-field-body a[href$='.inc']:before,
.views-field-body a[href$='.info']:before,
.views-field-body a[href$='.yml']:before,
.views-field-body a[href$='.css']:before,
.views-field-body a[href$='.scss']:before,
.views-field-body a[href$='.html']:before,
.views-field-body a[href$='.htm']:before,
.views-field-body a[href$='.xml']:before,
.views-field-body a[href$='.class']:before,
.views-field-body a[href$='.java']:before,
.views-field-body a[href$='.c']:before,
.views-field-body a[href$='.cpp']:before,
.views-field-body a[href$='.h']:before,
.views-field-body a[href$='.js']:before,
.views-field-body a[href$='.pl']:before,
.views-field-body a[href$='.py']:before,
.views-field-body a[href$='.sh']:before,
.field-name-body a[href$='.php']:before,
.field-name-body a[href$='.module']:before,
.field-name-body a[href$='.inc']:before,
.field-name-body a[href$='.info']:before,
.field-name-body a[href$='.yml']:before,
.field-name-body a[href$='.css']:before,
.field-name-body a[href$='.scss']:before,
.field-name-body a[href$='.html']:before,
.field-name-body a[href$='.htm']:before,
.field-name-body a[href$='.xml']:before,
.field-name-body a[href$='.class']:before,
.field-name-body a[href$='.java']:before,
.field-name-body a[href$='.c']:before,
.field-name-body a[href$='.cpp']:before,
.field-name-body a[href$='.h']:before,
.field-name-body a[href$='.js']:before,
.field-name-body a[href$='.pl']:before,
.field-name-body a[href$='.py']:before,
.field-name-body a[href$='.sh']:before, .views-field-body a[href$='.app']:before,
.views-field-body a[href$='.exe']:before,
.views-field-body a[href$='.apk']:before,
.views-field-body a[href$='.bat']:before,
.views-field-body a[href$='.deb']:before,
.views-field-body a[href$='.msi']:before,
.views-field-body a[href$='.rpm']:before,
.views-field-body a[href$='.cgi']:before,
.field-name-body a[href$='.app']:before,
.field-name-body a[href$='.exe']:before,
.field-name-body a[href$='.apk']:before,
.field-name-body a[href$='.bat']:before,
.field-name-body a[href$='.deb']:before,
.field-name-body a[href$='.msi']:before,
.field-name-body a[href$='.rpm']:before,
.field-name-body a[href$='.cgi']:before {
  font-family: 'file-types';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 15px !important;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-package:before {
  content: "\e600";
}

.icon-folder:before {
  content: "\e601";
}

.icon-file-video:before {
  content: "\e602";
}

.icon-file-text:before {
  content: "\e603";
}

.icon-file-spreadsheet:before {
  content: "\e604";
}

.icon-file-presentation:before {
  content: "\e605";
}

.icon-file-picture:before {
  content: "\e606";
}

.icon-file-code:before {
  content: "\e607";
}

.icon-file-audio:before {
  content: "\e608";
}

.icon-file:before {
  content: "\e609";
}

.icon-app:before {
  content: "\e60a";
}

.views-field-body a[href$='.zip']:before,
.views-field-body a[href$='.rar']:before,
.views-field-body a[href$='.gz']:before,
.views-field-body a[href$='.7z']:before,
.views-field-body a[href$='.jar']:before,
.field-name-body a[href$='.zip']:before,
.field-name-body a[href$='.rar']:before,
.field-name-body a[href$='.gz']:before,
.field-name-body a[href$='.7z']:before,
.field-name-body a[href$='.jar']:before {
  content: "\e600";
}
.views-field-body a[href$='.txt']:before,
.views-field-body a[href$='.doc']:before,
.views-field-body a[href$='.docx']:before,
.views-field-body a[href$='.rtf']:before,
.views-field-body a[href$='.odt']:before,
.views-field-body a[href$='.pdf']:before,
.field-name-body a[href$='.txt']:before,
.field-name-body a[href$='.doc']:before,
.field-name-body a[href$='.docx']:before,
.field-name-body a[href$='.rtf']:before,
.field-name-body a[href$='.odt']:before,
.field-name-body a[href$='.pdf']:before {
  content: "\e603";
}
.views-field-body a[href$='.xls']:before,
.views-field-body a[href$='.xlsx']:before,
.views-field-body a[href$='.csv']:before,
.views-field-body a[href$='.ods']:before,
.field-name-body a[href$='.xls']:before,
.field-name-body a[href$='.xlsx']:before,
.field-name-body a[href$='.csv']:before,
.field-name-body a[href$='.ods']:before {
  content: "\e604";
}
.views-field-body a[href$='.ppt']:before,
.views-field-body a[href$='.pptx']:before,
.views-field-body a[href$='.key']:before,
.views-field-body a[href$='.odp']:before,
.field-name-body a[href$='.ppt']:before,
.field-name-body a[href$='.pptx']:before,
.field-name-body a[href$='.key']:before,
.field-name-body a[href$='.odp']:before {
  content: "\e605";
}
.views-field-body a[href$='.jpg']:before,
.views-field-body a[href$='.jpeg']:before,
.views-field-body a[href$='.png']:before,
.views-field-body a[href$='.gif']:before,
.views-field-body a[href$='.psd']:before,
.views-field-body a[href$='.svg']:before,
.views-field-body a[href$='.ai']:before,
.views-field-body a[href$='.eps']:before,
.views-field-body a[href$='.cdr']:before,
.field-name-body a[href$='.jpg']:before,
.field-name-body a[href$='.jpeg']:before,
.field-name-body a[href$='.png']:before,
.field-name-body a[href$='.gif']:before,
.field-name-body a[href$='.psd']:before,
.field-name-body a[href$='.svg']:before,
.field-name-body a[href$='.ai']:before,
.field-name-body a[href$='.eps']:before,
.field-name-body a[href$='.cdr']:before {
  content: "\e606";
}
.views-field-body a[href$='.avi']:before,
.views-field-body a[href$='.mpg']:before,
.views-field-body a[href$='.mpeg']:before,
.views-field-body a[href$='.mp4']:before,
.views-field-body a[href$='.mov']:before,
.views-field-body a[href$='.flv']:before,
.views-field-body a[href$='.mkv']:before,
.field-name-body a[href$='.avi']:before,
.field-name-body a[href$='.mpg']:before,
.field-name-body a[href$='.mpeg']:before,
.field-name-body a[href$='.mp4']:before,
.field-name-body a[href$='.mov']:before,
.field-name-body a[href$='.flv']:before,
.field-name-body a[href$='.mkv']:before {
  content: "\e602";
}
.views-field-body a[href$='.mp3']:before,
.views-field-body a[href$='.flac']:before,
.views-field-body a[href$='.ogg']:before,
.views-field-body a[href$='.wav']:before,
.views-field-body a[href$='.ape']:before,
.views-field-body a[href$='.m4a']:before,
.field-name-body a[href$='.mp3']:before,
.field-name-body a[href$='.flac']:before,
.field-name-body a[href$='.ogg']:before,
.field-name-body a[href$='.wav']:before,
.field-name-body a[href$='.ape']:before,
.field-name-body a[href$='.m4a']:before {
  content: "\e608";
}
.views-field-body a[href$='.php']:before,
.views-field-body a[href$='.module']:before,
.views-field-body a[href$='.inc']:before,
.views-field-body a[href$='.info']:before,
.views-field-body a[href$='.yml']:before,
.views-field-body a[href$='.css']:before,
.views-field-body a[href$='.scss']:before,
.views-field-body a[href$='.html']:before,
.views-field-body a[href$='.htm']:before,
.views-field-body a[href$='.xml']:before,
.views-field-body a[href$='.class']:before,
.views-field-body a[href$='.java']:before,
.views-field-body a[href$='.c']:before,
.views-field-body a[href$='.cpp']:before,
.views-field-body a[href$='.h']:before,
.views-field-body a[href$='.js']:before,
.views-field-body a[href$='.pl']:before,
.views-field-body a[href$='.py']:before,
.views-field-body a[href$='.sh']:before,
.field-name-body a[href$='.php']:before,
.field-name-body a[href$='.module']:before,
.field-name-body a[href$='.inc']:before,
.field-name-body a[href$='.info']:before,
.field-name-body a[href$='.yml']:before,
.field-name-body a[href$='.css']:before,
.field-name-body a[href$='.scss']:before,
.field-name-body a[href$='.html']:before,
.field-name-body a[href$='.htm']:before,
.field-name-body a[href$='.xml']:before,
.field-name-body a[href$='.class']:before,
.field-name-body a[href$='.java']:before,
.field-name-body a[href$='.c']:before,
.field-name-body a[href$='.cpp']:before,
.field-name-body a[href$='.h']:before,
.field-name-body a[href$='.js']:before,
.field-name-body a[href$='.pl']:before,
.field-name-body a[href$='.py']:before,
.field-name-body a[href$='.sh']:before {
  content: "\e607";
}
.views-field-body a[href$='.app']:before,
.views-field-body a[href$='.exe']:before,
.views-field-body a[href$='.apk']:before,
.views-field-body a[href$='.bat']:before,
.views-field-body a[href$='.deb']:before,
.views-field-body a[href$='.msi']:before,
.views-field-body a[href$='.rpm']:before,
.views-field-body a[href$='.cgi']:before,
.field-name-body a[href$='.app']:before,
.field-name-body a[href$='.exe']:before,
.field-name-body a[href$='.apk']:before,
.field-name-body a[href$='.bat']:before,
.field-name-body a[href$='.deb']:before,
.field-name-body a[href$='.msi']:before,
.field-name-body a[href$='.rpm']:before,
.field-name-body a[href$='.cgi']:before {
  content: "\e60a";
}
