/* variables */
/* mark up */
* {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body.admin-menu {
  margin-top: 29px !important;
}

#page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

#page {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #404040;
  background: #FFF;
}

html, body {
  height: 100%;
}

#page-content {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -45px;
}
#page-content #page-footer {
  height: 45px;
}

#footer {
  clear: both;
  position: relative;
  height: 45px;
}

.layout-flex #main {
  padding: 0 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.layout-flex #main-content {
  width: 100%;
}
.layout-flex #sidebar-first {
  min-width: 270px;
}
.layout-flex #sidebar-second {
  min-width: 270px;
}
.layout-flex #additional-content {
  padding: 0 30px;
}
@media (min-width: 900px) {
  .layout-flex #main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .layout-flex #main-content {
    -webkit-order: 2;
    order: 2;
    width: 100%;
  }
  .layout-flex #sidebar-first {
    -webkit-order: 1;
    order: 1;
    width: 270px;
    padding-right: 30px;
  }
  .layout-flex #sidebar-second {
    -webkit-order: 3;
    order: 3;
    min-width: 270px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .layout-flex #main {
    margin: 0 auto;
  }
  .layout-flex #main-content {
    width: 100%;
  }
  .layout-flex #sidebar-first {
    width: 270px;
    padding-right: 30px !important;
  }
  .layout-flex #sidebar-second {
    width: 270px;
    padding-left: 30px !important;
  }
  .layout-flex #additional-content {
    max-width: 1600px;
    margin: 10px auto;
  }
}

@media (min-width: 900px) {
  .two-sidebars .layout-flex #main-content {
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    width: -ms-calc(100% - 270px);
    width: -o-calc(100% - 270px);
    width: calc(100% - 270px);
  }
  .two-sidebars .layout-flex #sidebar-second {
    padding-left: 270px;
  }
}

@media (min-width: 900px) {
  .one-sidebar .layout-flex #main-content {
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    width: -ms-calc(100% - 270px);
    width: -o-calc(100% - 270px);
    width: calc(100% - 270px);
  }
}

@media (min-width: 1200px) {
  .two-sidebars .layout-flex #main {
    max-width: 1600px;
  }
  .two-sidebars .layout-flex #main-content {
    width: -webkit-calc(100% - 540px);
    width: -moz-calc(100% - 540px);
    width: -ms-calc(100% - 540px);
    width: -o-calc(100% - 540px);
    width: calc(100% - 540px);
  }
}

@media (min-width: 1200px) {
  .one-sidebar .layout-flex #main {
    max-width: 1330px;
  }
  .one-sidebar .layout-flex #main-content {
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    width: -ms-calc(100% - 270px);
    width: -o-calc(100% - 270px);
    width: calc(100% - 270px);
  }
}

@media (min-width: 1200px) {
  .no-sidebars .layout-flex #main {
    max-width: 1060px;
  }
}

.column {
  margin: 10px 0;
}

.column .block-search > .content {
  margin-top: 20px;
}

/* styles */
a {
  color: #2d89d8;
}
a:hover {
  color: #1f76c1;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn-link {
  color: #2d89d8;
}

.btn-link:hover, .btn-link:focus {
  color: #1f76c1;
}

h1, #header-title, h2, #header-nav-title, h3, h4, h5, h6 {
  color: #555555;
  clear: both;
  line-height: 1.5;
}

h1, #header-title, h2, #header-nav-title, h3 {
  font-family: Arial, sans-serif;
  margin: 10px 0;
}

h4, h5, h6 {
  font-family: Arial, sans-serif;
  margin: 10px 0;
  font-weight: bold;
  font-size: 13px;
}

h1, #header-title {
  font-size: 26px;
}

h2, #header-nav-title {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  margin: 0 0 10px 0;
}

blockquote p {
  font-size: 14px;
}

small, .small {
  font-size: 90%;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

ol, ul {
  padding-left: 40px;
}

ul, ol ul {
  list-style-type: disc;
}

ul ul, ol ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ol, ul ol {
  list-style-type: decimal;
}

ol ol, ul ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ul.inline, .inline li {
  display: inline;
}

.inline li a {
  display: inline-block;
  margin: 0 5px;
}

.inline li:first-child a {
  margin-left: 0;
}

.inline li:last-child a {
  margin-right: 0;
}

ul.inline li, ul.menu li {
  margin: 0;
  padding: 0;
}

ul li .glyphicon, ul li .file-type {
  width: 20px !important;
  display: inline-block;
}

.nav a {
  color: #404040;
  position: static !important;
  display: block;
  padding: 10px 15px;
}
.nav a:hover {
  color: #000;
}
.nav a.active {
  font-weight: bold;
}

#main {
  position: relative;
}

#sidebar-first .nav a.active:before, #sidebar-first .nav a.active-trail:before {
  content: "";
  display: block;
  width: 4px;
  height: 39.5px;
  background: #2d89d8;
  position: absolute;
  left: -30px;
  margin-top: -10px;
}

#sidebar-first .nav a.active:after, #sidebar-first .nav a.active-trail:after {
  content: "";
  display: block;
  width: 17px;
  height: 180px;
  background: url(../img/side-shadow.png) right center no-repeat;
  position: absolute;
  left: -47px;
  margin-top: -90px;
}

.nav a:hover, .nav a:focus {
  text-decoration: none;
  background-color: #EEE;
}

.nav ul {
  padding: 0;
  list-style: none;
}

.nav ul a {
  padding-left: 35px;
}

.nav ul ul a {
  padding-left: 55px;
}

code, kbd, pre, samp {
  font-family: Consolas, Monaco, 'Andale Mono', monospace !important;
  font-size: 13px !important;
}

th {
  font-weight: bold;
}

.align-center, .pagination-wrapper {
  text-align: center;
}

.inline {
  display: inline;
}

.space-right {
  margin-right: 10px;
}

.img.pull-right {
  float: right;
  margin: 5px 0 10px 15px;
}

.img.pull-left {
  float: left;
  margin: 5px 15px 10px 0;
}

.img.pull-center {
  margin: 5px auto 10px auto;
  text-align: center;
}

.img.pull-center img {
  margin: 0 auto;
}

.img {
  margin: 5px 15px 10px 0;
  display: block;
  clear: both;
}

.gallery .img {
  clear: none;
}

.img img {
  margin: 0;
  display: block;
}

.img-signed img, .img.pull-center.img-signed img {
  margin-bottom: 10px;
}

a.img:hover img {
  -moz-box-shadow: #1f76c1 0 0 4px;
  -webkit-box-shadow: #1f76c1 0 0 4px;
  box-shadow: #1f76c1 0 0 4px;
}

.video-container {
  max-width: 560px;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-responsive object, .video-responsive embed, .video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 3px;
  background: #fff;
  border: 1px solid #EBEBEB;
  /* border-bottom-width: 2px; border-top-width: 0; */
  padding: 0 20px 20px 20px;
}

.card-bottom {
  background: #f8f8f8;
  margin: 10px -20px -20px -20px;
  border-top: 1px solid #EBEBEB;
  padding: 20px;
}

.block {
  margin-bottom: 20px;
}

#header .block, #header-nav .block, #footer .block {
  margin-bottom: 0;
}

.form-item, .form-actions {
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

.field {
  margin-bottom: 10px;
}

.field-name-field-tags .field-item {
  display: inline-block;
  margin-right: 5px;
}

/* regions */
#header {
  background: #F1F1F1;
  padding: 10px 15px 10px 30px;
  overflow: hidden;
  *zoom: 1;
}

#header-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#header-wrapper #header {
  -webkit-order: 2;
  order: 2;
}
#header-wrapper #header-nav {
  -webkit-order: 1;
  order: 1;
}
@media (min-width: 481px) {
  #header-wrapper #header {
    -webkit-order: 1;
    order: 1;
  }
  #header-wrapper #header-nav {
    -webkit-order: 2;
    order: 2;
  }
}

#header-logo a, #header-nav-logo a {
  display: block;
  height: 34px;
  margin: -2px 0;
  text-decoration: none;
}

#header-logo a img, #header-nav-logo a img {
  display: block;
  height: 34px;
}

#header-logo, #header-title, #header-slogan, #header-menu {
  display: none;
}
@media (min-width: 481px) {
  #header-logo, #header-title, #header-slogan, #header-menu {
    display: block;
  }
}

.header-item {
  margin: 5px 15px 5px 0;
}

#header-logo {
  float: left;
}

@media (min-width: 481px) {
  #header-title, #header-slogan, #header-content {
    float: left;
  }
}

@media (min-width: 481px) {
  #header-menu {
    float: right;
  }
}

#header-title {
  clear: none;
  margin: 5px 15px 5px 0;
  line-height: 30px;
}
#header-title a {
  text-decoration: none;
}

#header-right {
  float: right;
}

#header-slogan {
  font-size: 20px;
  line-height: 27px;
  padding-top: 3px;
}

#header-nav {
  background: #FFF;
  padding: 10px 30px;
  border-bottom: 1px solid #EBEBEB;
}

#header-menu ul {
  padding-left: 0;
}

#header-menu a {
  line-height: 20px;
  padding: 5px 0;
}

#header-search, .form-search {
  max-width: 420px;
}

#header-nav-menu {
  margin: -10px -30px;
}
@media (min-width: 481px) {
  #header-nav-menu {
    margin: -10px -10px;
  }
}
@media (min-width: 900px) {
  #header-nav-menu {
    margin: -10px 0;
    text-align: center;
  }
}

#header-nav #main-menu a {
  border-bottom: 2px solid transparent;
  line-height: 20px;
  font-size: 14px;
  padding: 14px 0 8px 0;
  color: #404040;
  text-decoration: none;
  margin: 0 10px;
}
#header-nav #main-menu a:hover {
  color: #000;
  border-color: #2d89d8;
}
#header-nav #main-menu a.active, #header-nav #main-menu a.active-trail {
  border-color: #2d89d8;
  font-weight: bold;
}

#header-nav #main-menu.collapsed a {
  border: 0;
  padding: 14px 15px 10px 15px;
  margin: 0;
}
#header-nav #main-menu.collapsed a:hover {
  background: #EEE;
  color: #000;
}
#header-nav #main-menu.collapsed a.active:before {
  content: "";
  display: block;
  width: 4px;
  height: 44px;
  background: #2d89d8;
  position: absolute;
  left: 0;
  margin-top: -14px;
}

#header-nav #main-menu.collapsed {
  border-top: 1px solid #EBEBEB;
  display: block;
  overflow: hidden;
  *zoom: 1;
  padding: 15px 30px;
}

#header-nav .menu-collapser {
  padding: 0 30px;
  height: auto;
  overflow: hidden;
  *zoom: 1;
}

#header-nav-logo, #header-nav-title, .collapse-button {
  float: left;
  margin: 10px 15px 10px 0;
}

#header-nav-title {
  clear: none;
  line-height: 30px;
}
#header-nav-title a {
  text-decoration: none;
}

.tabs .nav {
  margin-bottom: 10px;
}

div.messages {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 0;
  background-image: none;
  border-left: 5px solid #eee;
}

.messages p:last-child {
  margin-bottom: 0;
}

.messages code, .messages .highlight {
  background-color: #fff;
}

.messages.error {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.messages.warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.messages.info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.messages.status {
  background-color: #DFF0D8;
  border-color: #82d684;
}

#footer-content {
  height: 45px;
  background: #F1F1F1;
  padding: 10px 30px;
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #EBEBEB;
}

#additional {
  background: #f9f9f9;
  border-top: 1px solid #f5f5f5;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #F5F5F5;
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
}

code {
  color: #000;
  background: #F5F5F5;
}

.nav.nav-tabs > li > a {
  padding: 6px 15px;
}

.form-control {
  width: auto;
}

.field-prefix + .form-control {
  display: inline-block;
}

.filter-wrapper label {
  margin-right: 10px;
}

.filter-wrapper select.form-control {
  display: inline-block;
}

.item-list ul.pagination {
  margin: 20px 0 0 0;
}
