@font-face {
  font-family: 'file-types';
  src:url('../fonts/file-types.eot');
  src:url('../fonts/file-types.eot?#iefix') format('embedded-opentype'),
    url('../fonts/file-types.ttf') format('truetype'),
    url('../fonts/file-types.woff') format('woff'),
    url('../fonts/file-types.svg#file-types') format('svg');
  font-weight: normal; font-style: normal;
}

.file-type { font-family: 'file-types'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; width: 15px !important; display: inline-block; 
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-package:before { content: "\e600"; }
.icon-folder:before { content: "\e601"; }
.icon-file-video:before { content: "\e602"; }
.icon-file-text:before { content: "\e603"; }
.icon-file-spreadsheet:before { content: "\e604"; }
.icon-file-presentation:before { content: "\e605"; }
.icon-file-picture:before { content: "\e606"; }
.icon-file-code:before { content: "\e607"; }
.icon-file-audio:before { content: "\e608"; }
.icon-file:before { content: "\e609"; }
.icon-app:before { content: "\e60a"; }

.views-field-body,
.field-name-body {

a[href $='.zip']:before,
a[href $='.rar']:before,
a[href $='.gz']:before,
a[href $='.7z']:before,
a[href $='.jar']:before
{ @extend .file-type; content: "\e600"; }

a[href $='.txt']:before,
a[href $='.doc']:before,
a[href $='.docx']:before,
a[href $='.rtf']:before,
a[href $='.odt']:before,
a[href $='.pdf']:before
{ @extend .file-type; content: "\e603"; }

a[href $='.xls']:before,
a[href $='.xlsx']:before,
a[href $='.csv']:before,
a[href $='.ods']:before
{ @extend .file-type; content: "\e604"; }

a[href $='.ppt']:before,
a[href $='.pptx']:before,
a[href $='.key']:before,
a[href $='.odp']:before
{ @extend .file-type; content: "\e605"; }

a[href $='.jpg']:before,
a[href $='.jpeg']:before,
a[href $='.png']:before,
a[href $='.gif']:before,
a[href $='.psd']:before,
a[href $='.svg']:before,
a[href $='.ai']:before,
a[href $='.eps']:before,
a[href $='.cdr']:before
{ @extend .file-type; content: "\e606"; }

a[href $='.avi']:before,
a[href $='.mpg']:before,
a[href $='.mpeg']:before,
a[href $='.mp4']:before,
a[href $='.mov']:before,
a[href $='.flv']:before,
a[href $='.mkv']:before
{ @extend .file-type; content: "\e602"; }

a[href $='.mp3']:before,
a[href $='.flac']:before,
a[href $='.ogg']:before,
a[href $='.wav']:before,
a[href $='.ape']:before,
a[href $='.m4a']:before
{ @extend .file-type; content: "\e608"; }

a[href $='.php']:before,
a[href $='.module']:before,
a[href $='.inc']:before,
a[href $='.info']:before,
a[href $='.yml']:before,
a[href $='.css']:before,
a[href $='.scss']:before,
a[href $='.html']:before,
a[href $='.htm']:before,
a[href $='.xml']:before,
a[href $='.class']:before,
a[href $='.java']:before,
a[href $='.c']:before,
a[href $='.cpp']:before,
a[href $='.h']:before,
a[href $='.js']:before,
a[href $='.pl']:before,
a[href $='.py']:before,
a[href $='.sh']:before
{ @extend .file-type; content: "\e607"; }

a[href $='.app']:before,
a[href $='.exe']:before,
a[href $='.apk']:before,
a[href $='.bat']:before,
a[href $='.deb']:before,
a[href $='.msi']:before,
a[href $='.rpm']:before,
a[href $='.cgi']:before
{ @extend .file-type; content: "\e60a"; }

}
