@charset "UTF-8";

@import "compass";
@import "compass/css3";
@import "compass/css3/flexbox";
@import "compass/layout.scss";
@import "breakpoint";

/* variables */
$bg: #FFF;
$color: #404040;
$hcolor: #555555;
$font: Arial, sans-serif;
$hfont: Arial, sans-serif;
$font-size: 13px;
$link: #2d89d8;
$hover: #1f76c1;
$active: #000;

$regions-bg: #FFF;
$header-bg: #F1F1F1;
$nav-bg: #FFF;
$divider: #EBEBEB;

$sidebar-width: 240px;
$footer-height: 45px;

$bp-480: 481px;
$bp-960: 900px;
$bp-1280: 1200px;

$total-columns: 3;
$column-width: $sidebar-width;
$gutter-width: 30px;
$grid-padding: $gutter-width;
$container-style: static;
$border-box-sizing: true;

/* mark up */
* { @include box-sizing(content-box); }

body.admin-menu { margin-top: 29px !important; }

#page * { @include box-sizing(border-box); }
html, body { width:100%; height:100%; min-width: 320px; }
#page { height: 100%; }
body { font-family: $font; font-size: $font-size; line-height: 1.5; color: $color; background: $bg; }
@include sticky-footer($footer-height, "#page-content", "#page-footer", "#footer");

.layout-flex {
  #main { padding: 0 $gutter-width; @include display-flex;
      -webkit-flex-direction: row; flex-direction: row;
      -webkit-flex-wrap: wrap; flex-wrap: wrap;}
  #main-content { width: 100%; }
  #sidebar-first { min-width: $sidebar-width + $gutter-width; }
  #sidebar-second { min-width: $sidebar-width + $gutter-width; }
  #additional-content { padding: 0 30px; }

  @include breakpoint($bp-960) { 
    #main { @include display-flex;
      -webkit-flex-direction: row; flex-direction: row;
      -webkit-flex-wrap: wrap; flex-wrap: wrap; } 
    #main-content { -webkit-order: 2; order: 2; width: 100%; }
    #sidebar-first { -webkit-order: 1; order: 1; width: $sidebar-width + $gutter-width; padding-right: $gutter-width; }
    #sidebar-second { -webkit-order: 3; order: 3; min-width: $sidebar-width + $gutter-width; padding-left: $gutter-width; }
  }

  @include breakpoint($bp-1280) { 
    #main { margin: 0 auto; }
    #main-content { width: 100%; }
    #sidebar-first { width: $sidebar-width + $gutter-width; padding-right: $gutter-width !important; }
    #sidebar-second { width: $sidebar-width + $gutter-width; padding-left: $gutter-width !important; }
    #additional-content { max-width: 1600px; margin: 10px auto; }
  }
}

.two-sidebars .layout-flex {
  @include breakpoint($bp-960) { 
    #main-content { @include experimental-value(width, calc(100% - 270px)); }
    #sidebar-second { padding-left: $sidebar-width + $gutter-width; }
  }
}

.one-sidebar .layout-flex {
  @include breakpoint($bp-960) { 
    #main-content { @include experimental-value(width, calc(100% - 270px)); }
  }
}

.two-sidebars .layout-flex {
  @include breakpoint($bp-1280) { 
    #main { max-width: 1600px; }
    #main-content { @include experimental-value(width, calc(100% - 540px)); }
  }
}

.one-sidebar .layout-flex {
  @include breakpoint($bp-1280) { 
    #main { max-width: 1330px; }
    #main-content { @include experimental-value(width, calc(100% - 270px)); }
  }
}

.no-sidebars .layout-flex {
  @include breakpoint($bp-1280) { 
    #main { max-width: 1060px; }
  }
}

.column { margin: 10px 0; }
.column .block-search > .content { margin-top: 20px; }

/* styles */
a { @include link-colors($link, $hover); }
a { text-decoration: none; 
  &:hover { text-decoration: underline; } }
.btn-link { color: $link; }
.btn-link:hover, .btn-link:focus { color: $hover; }

h1, h2, h3, h4, h5, h6 { color: $hcolor; clear: both; line-height: 1.5; }
h1, h2, h3 { font-family: $hfont; margin: 10px 0; }
h4, h5, h6 { font-family: $hfont; margin: 10px 0; font-weight: bold; font-size: $font-size; }
h1 { font-size: $font-size * 2; }
h2 { font-size: $font-size + 9px; }
h3 { font-size: $font-size + 5px; }
p { margin: 0 0 10px 0; }
blockquote p { font-size: $font-size + 1px; }
small, .small { font-size: 90%; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

ol, ul { padding-left: 40px; }
ul, ol ul { list-style-type: disc;  }
ul ul, ol ul ul { list-style-type: circle; }
ul ul ul  { list-style-type: square; }
ol, ul ol { list-style-type: decimal; }
ol ol, ul ol ol { list-style-type: lower-alpha; }
ol ol ol { list-style-type: lower-roman; }

ul.inline, .inline li { display: inline; }
.inline li a { display: inline-block; margin: 0 5px; }
.inline li:first-child a { margin-left: 0; }
.inline li:last-child a { margin-right: 0; }
ul.inline li, ul.menu li { margin: 0; padding: 0; }

ul li .glyphicon, ul li .file-type { width: 20px !important; display: inline-block; }

.nav a { color: $color; position: static !important; display: block; padding: 10px 15px;
  &:hover { color: $active; } 
  &.active { font-weight: bold; }
}

#main { position: relative; }
#sidebar-first .nav a.active:before, #sidebar-first .nav a.active-trail:before {
  content: ""; display: block; width: 4px; height: $font-size * 1.5 + 20px; background: $link; position: absolute; left: -30px; margin-top: -10px; }
#sidebar-first .nav a.active:after, #sidebar-first .nav a.active-trail:after {
  content: ""; display: block; width: 17px; height: 180px; background: url(../img/side-shadow.png) right center no-repeat; position: absolute; left: -47px; margin-top: -90px; } 
.nav a:hover, .nav a:focus { text-decoration: none; background-color: #EEE; }
.nav ul { padding: 0; list-style: none; }
.nav ul a { padding-left: 35px; }
.nav ul ul a { padding-left: 55px; }

code, kbd, pre, samp { font-family: Consolas, Monaco, 'Andale Mono', monospace !important; font-size: $font-size !important; }

th { font-weight: bold; }

.align-center, .pagination-wrapper { text-align: center; }
.inline { display: inline; }
.space-right { margin-right: 10px; }

.img.pull-right { float: right; margin: 5px 0 10px 15px; }
.img.pull-left { float: left; margin: 5px 15px 10px 0; }
.img.pull-center { margin: 5px auto 10px auto; text-align: center; }
.img.pull-center img { margin: 0 auto; }
.img { margin: 5px 15px 10px 0; display: block; clear: both; }
//.img-signed { width: 170px; }
//.img-signed.img-thumbnail { width: 180px; }
.gallery .img { clear: none; }
.img img { margin: 0; display: block; }
.img-signed img, .img.pull-center.img-signed img { margin-bottom: 10px; }
a.img:hover img { @include box-shadow($hover 0 0 4px); }

.video-container { max-width: 560px; }
.video-responsive { position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
.video-responsive object, .video-responsive embed, .video-responsive iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.card { border-radius: 3px; background: #fff; border: 1px solid $divider; /* border-bottom-width: 2px; border-top-width: 0; */ padding: 0 20px 20px 20px; }
.card-bottom { background: #f8f8f8; margin: 10px -20px -20px -20px; border-top: 1px solid $divider; padding: 20px }

.block { margin-bottom: 20px; }
#header .block, #header-nav .block, #footer .block { margin-bottom: 0; }
.form-item, .form-actions { margin: 0; }
.form-group { margin-bottom: 15px; }

.field { margin-bottom: 10px; }
.field-name-field-tags .field-item { display: inline-block; margin-right: 5px; }

/* regions */
#header { background: $header-bg; padding: 10px $gutter-width / 2 10px $gutter-width; @include clearfix; }

#header-wrapper {
  @include display-flex;
  -webkit-flex-direction: column; flex-direction: column;
  -webkit-flex-wrap: wrap; flex-wrap: wrap;
  #header { -webkit-order: 2; order: 2; }
  #header-nav { -webkit-order: 1; order: 1; }
  @include breakpoint($bp-480) {
    #header { -webkit-order: 1; order: 1; }
    #header-nav { -webkit-order: 2; order: 2; }  
  }
}

#header-logo a, #header-nav-logo a { display: block; height: 34px; margin: -2px 0; text-decoration: none; }
#header-logo a img, #header-nav-logo a img { display: block; height: 34px; }

#header-logo, #header-title, #header-slogan, #header-menu { display: none; @include breakpoint($bp-480) { display: block; } }

.header-item { margin: 5px $gutter-width / 2 5px 0; }
#header-logo { float: left; }
#header-title, #header-slogan, #header-content { @include breakpoint($bp-480) { float: left; } }
#header-menu { @include breakpoint($bp-480) { float: right; } }
#header-title { @extend h1; clear: none; margin: 5px $gutter-width / 2 5px 0; line-height: 30px; & a { text-decoration: none; } }

#header-right { float: right; }

#header-slogan { font-size: $font-size + 7px; line-height: 27px; padding-top: 3px; }
#header-nav { background: $nav-bg; padding: 10px $gutter-width; border-bottom: 1px solid $divider; }

#header-menu ul { padding-left: 0; }
#header-menu a { line-height: 20px; padding: 5px 0; }
#header-search, .form-search { max-width: 420px; }

#header-nav-menu { margin: -10px -30px;
  @include breakpoint($bp-480) { margin: -10px -10px; }
  @include breakpoint($bp-960) { margin: -10px 0; text-align: center; }
}
#header-nav #main-menu a {
  border-bottom: 2px solid transparent; line-height: 20px; font-size: $font-size + 1px; padding: 14px 0 8px 0; color: $color; text-decoration: none; margin: 0 10px;
  &:hover { color: $active; border-color: $link; }
  &.active, &.active-trail { border-color: $link; font-weight: bold; }
}
#header-nav #main-menu.collapsed a { border: 0; padding: 14px 15px 10px 15px; margin: 0;
  &:hover { background: #EEE; color: $active; }
  &.active:before { content: ""; display: block; width: 4px; height: 44px; background: $link; position: absolute; left: 0; margin-top: -14px; }
}
#header-nav #main-menu.collapsed { border-top: 1px solid $divider; display: block; @include clearfix; padding: 15px $gutter-width; }
#header-nav .menu-collapser { padding: 0 $gutter-width; height: auto; @include clearfix; }
#header-nav-logo, #header-nav-title, .collapse-button { float: left; margin: $gutter-width / 3 $gutter-width / 2 $gutter-width / 3 0; }
#header-nav-title { @extend h2; clear: none; line-height: 30px; & a { text-decoration: none; } }

.tabs .nav { margin-bottom: 10px; }

div.messages { margin: 20px 0; padding: 15px 30px 15px 15px; border: 0; background-image: none; border-left: 5px solid #eee; }
.messages p:last-child { margin-bottom: 0; }
.messages code, .messages .highlight { background-color: #fff; }
 
.messages.error { background-color: #fcf2f2; border-color: #dFb5b4; }
.messages.warning { background-color: #fefbed; border-color: #f1e7bc; }
.messages.info { background-color: #f0f7fd; border-color: #d0e3f0; }
.messages.status { background-color: #DFF0D8; border-color: #82d684; }

#footer-content { height: $footer-height; background: $header-bg; padding: 10px $gutter-width; @include clearfix; border-top: 1px solid $divider; }

#additional { background: #f9f9f9; border-top: 1px solid #f5f5f5; }

// override
:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #F5F5F5; } // color from bootstrap
code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
code { color: #000; background: #F5F5F5; }

.nav.nav-tabs > li > a { padding: 6px 15px; }
.form-control { width: auto; }
.field-prefix + .form-control { display: inline-block; }

.filter-wrapper label { margin-right: 10px; }
.filter-wrapper select.form-control { display: inline-block; }
.item-list ul.pagination { margin: 20px 0 0 0; }
